* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

.wrapper {
    background-color: rgb(238, 241, 235);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}

.checkbox .trace {
    width: 90px;
    height: 10px;
    background-color: rgba(22, 180, 197, 0.574);
    display: flex;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 28px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 48px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 68px;
    transform: rotate(0);
}

#toggle {
    display: none;   
}

#toggle:checked+.checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked+.checkbox .trace:nth-child(2) {
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked+.checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

.footer {
    background: black;
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 60px;
    position: fixed;
    text-align: center;
    background-color: rgb(120, 205, 175);
    width: 100%;
    background-position: center;
}
